<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Single Test View</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>

</head>

<th:block th:include="fragments/header :: header"></th:block>
<body>
<div class="container">
    <div class="row">
        <div> <h1 th:class="formHeader">Card Test Answers</h1><h2>Final Score =   <span th:text="${finalScore}">Name</span></h2></div>
        <div>
            <form class="form-horizontal" th:object="${clickForm}" th:action="@{/scoreAnswers}" method="post">
                <div>
                    <table class="table table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Person Name</th>
                            <th>Action</th>
                            <th>Object</th>
                            <th>Name Correct?</th>
                            <th>Action Correct?</th>
                            <th>Object Correct?</th>
                            <th>Test ID</th>
                        </tr>
                        <tr th:each="test, testStat : ${tests}">
                            <td th:text="${testStat.index}"><a href="/${test(1).id}">Id</a></td>
                            <td th:text="${test.answerPersonName}">Person Name</td>
                            <td th:text="${test.answerPersonAction}"><a href="/${cachedCard(1).id}">Action</a></td>
                            <td th:text="${test.answerPersonObject}">Object</td>
                            <td th:text="${test.answerPersonNameCorrect}">Object</td>
                            <td th:text="${test.answerPersonActionCorrect}">Object</td>
                            <td th:text="${test.answerPersonObjectCorrect}">Object</td>
                            <td th:text="${test.testId}">Object</td>
                        </tr>
                    </table>
                </div>
            </form>

        </div>
    </div>
</div>
<!--<div class="dougOne" th:type="hidden">Hey You</div>-->
</body>
</html>