<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Show Location Answer Single</title>

    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div><h1 th:class="formHeader">Location Exam Results</h1>
                <a href="/" class="">Return</a>

                <h2>Final Score = <span th:text="${finalScore}">Name</span></h2></div>
            <div>
                <form class="form-horizontal" th:object="${clickForm}" th:action="@{/saveLocationQuizScore}" method="post">
                    <button type="submit" class="col-md-5 col-md-offset-4">Save Test</button>
                    <div>
                        <table class="table table-bordered">
                            <tr>
                                <th>Counter</th>
                                <th>Final Score</th>
                                <th>Timestamp</th>
                                <th>Comments</th>
                            </tr>
                            <tr th:each="score,  scoreStat : ${scores}">
                                <td th:text="${scoreStat.index}"></td>
                                <td th:text="${score.masterLocationName}">index</td>
                                <td th:text="${score.answerLocationName}">index</td>
                                <td th:text="${score.correct}">index</td>
                            </tr>
                        </table>
                        <!--<div><button type="submit">Go</button></div>-->
                        <!--</form>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>