<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Master List</title>

    <th:block th:include="fragments/headerinc :: head"></th:block>

</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>

<div class="container">
    <a href="/" class="">Return</a>
    <div class="panel-body col-sm-10">
        <table class="table-condensed">
            <th>Number</th>
            <th>Location</th>
            <th>Number</th>
            <th>Location</th>
            <th>Number</th>
            <th>Location</th>
            <tr>
                <td>1</td>
                <td>mailbox</td>
                <td>21</td>
                <td>diningroom entrance</td>
                <td>41</td>
                <td>kitchen table</td>
            </tr>
            <tr>
                <td><b>2</b></td>
                <td>driveway</td>
                <td>22</td>
                <td>silverware case</td>
                <td>42</td>
                <td>kitchen table chairs</td>
            </tr>
            <tr>
                <td><b>3</b></td>
                <td>garage</td>
                <td>23</td>
                <td>corner chair</td>
                <td>43</td>
                <td>entry way to front</td>
            </tr>
            <tr>
                <td><b>4</b></td>
                <td>sidewalk</td>
                <td>24</td>
                <td>windows</td>
                <td>44</td>
                <td>chair</td>
            </tr>
            <tr>
                <td><b>5</b></td>
                <td>well</td>
                <td>25</td>
                <td>tree</td>
                <td>45</td>
                <td>cabinets</td>
            </tr>
            <tr>
                <td><b>6</b></td>
                <td>porch</td>
                <td>26</td>
                <td>painting</td>
                <td>46</td>
                <td>intercom</td>
            </tr>
            <tr>
                <td><b>7</b></td>
                <td>chairs</td>
                <td>27</td>
                <td>kitchen door</td>
                <td>47</td>
                <td>phone jack</td>
            </tr>
            <tr>
                <td><b>8</b></td>
                <td>camera</td>
                <td>28</td>
                <td>thermostat</td>
                <td>48</td>
                <td>basket</td>
            </tr>
            <tr>
                <td><b>9</b></td>
                <td>storm door</td>
                <td>29</td>
                <td>chandelier</td>
                <td>49</td>
                <td>couuntertop</td>
            </tr>
            <tr>
                <td><b>10</b></td>
                <td>Front Door</td>
                <td>30</td>
                <td>dining room table</td>
                <td>50</td>
                <td>cookie jar</td>
            </tr>
            <tr>
                <td><b>11</b></td>
                <td>family room door</td>
                <td>31</td>
                <td>knives</td>
                <td>51</td>
                <td>fridge</td>
            </tr>
            <tr>
                <td><b>12</b></td>
                <td>buddha fountain</td>
                <td>32</td>
                <td>microwave</td>
                <td>52</td>
                <td>diningroom door</td>
            </tr>
            <tr>
                <td><b>13</b></td>
                <td>chair</td>
                <td>33</td>
                <td>stove</td>
                <td></td>
            </tr>
            <tr>
                <td><b>14</b></td>
                <td>huge dresser</td>
                <td>34</td>
                <td>oils</td>
                <td></td>
            </tr>
            <tr>
                <td><b>15</b></td>
                <td>mirror</td>
                <td>35</td>
                <td>fruit basket</td>
                <td></td>
            </tr>
            <tr>
                <td><b>16</b></td>
                <td>sticks</td>
                <td>36</td>
                <td>paper towels</td>
                <td></td>
            </tr>
            <tr>
                <td><b>17</b></td>
                <td>photos</td>
                <td>37</td>
                <td>kitchen window</td>
                <td></td>
            </tr>
            <tr>
                <td><b>18</b></td>
                <td>imac</td>
                <td>38</td>
                <td>sink</td>
                <td></td>
            </tr>
            <tr>
                <td><b>19</b></td>
                <td>desk</td>
                <td>39</td>
                <td>back window</td>
                <td></td>
            </tr>
            <tr>
                <td><b>20</b></td>
                <td>armwar</td>
                <td>40</td>
                <td>kitchen table light</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>