<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Master List</title>

    <th:block th:include="fragments/headerinc :: head"></th:block>

</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>

<div class="container">
    <a href="/" class="">Return</a>
    <div class="panel-body col-sm-10">
        <table class="table-bordered">
            <th>Number</th>
            <th>Location ID</th>
            <th>Location Name</th>
            <th>Comments</th>
            <th>isActive</th>
            <tr th:each="location,  locationStat : ${locations}">
                <td th:text="${locationStat.index}"><a href="/${test(1).id}">Id</a></td>
                <td th:text="${location.location_id}">index</td>
                <td th:text="${location.location_name}">index</td>
                <td th:text="${location.comments}">index</td>
                <td th:text="${location.is_active}">index</td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>