<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Master Card List</title>

    <th:block th:include="fragments/headerinc :: head"></th:block>

</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>

<div class="container">
    <a href="/" class="">Return</a>
    <div th:align="center" >
        <table class="table table-bordered">
            <th style="text-align:center" >Number</th>
            <th  style="text-align:center" >Location ID</th>
            <th  style="text-align:center" >Location Name</th>
            <th  style="text-align:center" >Comments</th>
            <th  style="text-align:center" >isActive</th>
            <tr th:each="location,  locationStat : ${locations}">
                <td th:align="center" th:text="${locationStat.index}"><a href="/${simpleCardTest(1).id}">Id</a></td>
                <td  th:align="center" th:text="${location.location_id}">index</td>
                <td  th:align="center" th:text="${location.location_name}">index</td>
                <td  th:align="center" th:text="${location.comments}">index</td>

                <div th:if="${location.is_active == 1}">
                    <td  th:align="center" th:text="Yes"></td>
                </div>
                <div th:if="${location.is_active == 0}">
                    <td  th:align="center" th:text="No"></td>
                </div>
            </tr>

        </table>
    </div>
</div>
</body>
</html>