<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>
    <script>
        var cardVisible = "false";

        function demoVisibility() {
            //alert("card visible: " + document.getElementById("card").style.visibility + "douglas:=" + crap);
            if (document.getElementById("card").style.visibility == "hidden") {
                document.getElementById("card").style.visibility = "visible";
                cardVisible = "true";
            } else {
                document.getElementById("card").style.visibility = "hidden"
                cardVisible = "false";
            }
        }
        function setNextCardVisible() {

            if (cardVisible == "true" || (document.getElementById("card").style.visibility == "visible")) {
                window.location = "/nextOneLearnMasterCards?cardVisible=true"; //nextOneLearnMasterCards?cardVisible=true";
            } else {
                window.location = "/nextOneLearnMasterCards?cardVisible=false";
            }

            return false;

        }

        function setPreviousCardVisible() {

            if (cardVisible == "true" || (document.getElementById("card").style.visibility == "visible")) {
                window.location = "/previousOneLearnMasterCards?cardVisible=true";
            } else {
                window.location = "/previousOneLearnMasterCards?cardVisible=false";
            }

            return false;

        }

    </script>
</head>
<th:block th:include="fragments/header :: header"></th:block>
<body>
<div class="container">
    <h2>Master Deck one card at a time</h2>
    <div>
        <form class="form-horizontal" th:object="${clickForm}" th:action="@{/nextOneLearnMasterCards}" method="post">

            <div class="col-sm-6 col-sm-offset-2">
                <label class="control-label">Counter: </label>

                <span th:text="${counter}">Counter</span>

            </div>

            <div class="col-sm-6 col-sm-offset-2">
                <label class="control-label">Card Name: </label>

                <input type="text" class="form-control" th:field="${cardInfo.cardName}"/>

            </div>
            <div class="col-sm-6 col-sm-offset-2">
                <label class="control-label">Person: </label>

                <input type="text" class="form-control" th:field="${cardInfo.personName}"/>

            </div>
            <div class="col-sm-6 col-sm-offset-2">
                <label class="control-label">Object: </label>

                <input type="text" class="form-control" th:field="${cardInfo.object}"/>

            </div>
            <div class="col-sm-6 col-sm-offset-2">
                <label class="control-label">Action: </label>

                <input type="text" class="form-control" th:field="${cardInfo.action}"/>

            </div>
            <div class="row">
                <div class="col-sm-6" th:if="(${previousVisible}=='true')"   style="visibility: visible;" align="right"><a href="#" onclick="setPreviousCardVisible()">Previous</a></div>
                <div class="col-sm-6" th:if="(${previousVisible}=='false')"   onclick="return false;" align="right"><a href="#" >Previous</a></div>



                <div class="col-sm-6" th:if="(${nextVisible}=='true')" align="left"><a href="#" onclick="setNextCardVisible()">Next</a></div>
                <div class="col-sm-6" th:if="(${nextVisible}=='false')" align="left"><a href="#"  onclick="return false;">Next</a></div>


            </div>

            <div class="col-sm-6 right"><img id="blank" onclick="demoVisibility();" src="/images/back@2x.png"
                                             align="right" width="222" height="323" style="border:5px solid black"/>
            </div>

            <div class="col-sm-6 left" th:if="${cardVisible=='true'}"><img id="card"
                                                                           th:src="@{'/images/'+${cardInfo.cardName}}"
                                                                           align="left" width="222" height="323"
                                                                           style="visibility: visible;border:5px solid black"/>
            </div>
            <div class="col-sm-6 left" th:if="${cardVisible=='false'}"><img id="card"
                                                                            th:src="@{'/images/'+${cardInfo.cardName}}"
                                                                            align="left" width="222"
                                                                            height="323"
                                                                            style="visibility: hidden;border:5px solid black"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>