<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Register Account</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>

<body>
<th:block th:include="fragments/header :: header"></th:block>
<div class="container">
    <div class="row">
        <form class="form-horizontal" th:object="${registrationForm}" method="POST" th:action="@{/registration}">
            <h2 class="formHeader">Create your account</h2>

            <div th:if="${param.error}" class="alert alert-danger">
                <p>Invalid fields.</p>
            </div>

            <div class="form-group" th:class="${param.error} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="username" id="username" th:autofocus="autofocus"/>
                </div>
            </div>

            <div class="form-group" th:class="${param.error} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" name="password" id="password"/>
                </div>
            </div>
            <div class="form-group" th:class="${param.error} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Confirm Password:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" name="password" id="confirmpassword"/>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-5">
                <button class="btn btn-submit" th:value="submit" th:type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
