body {
	background: url('../images/lightpink.jpeg') no-repeat center center fixed;
	background-size: cover;
	//font-family: arial,helvetica,sans-serif;
}
/*body {*/
	/*!*color: #333;*!*/
	/*!*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*!*/
	/*!*font-size: 14px;*!*/
	/*line-height: 1.42857;*/
/*}*/

/*.navbar-nav > li{*/
	/*margin-left: 30px;*/
	/*margin-right: 30px;*/
/*}*/

.shit {
	color: whitesmoke;
}
@media (min-width: 768px) {
	.navbar-text {
		/*margin-left:-3px;*/
		/*margin-right:-3px;*/
		 margin-right: 5px !important;
		 margin-left: 0 !important;
	}
}
.jumbotron {
	text-align: center;
	vertical-align: bottom !important;
	height: 10px !important;
	color: whitesmoke !important;

	background: transparent !important;
}

.panel-default {
	background-color: whitesmoke!important;
}

.panel-dude {
	text-align: center !important;
	vertical-align: bottom !important;
	height: 20px !important;
	color: whitesmoke !important;

	background: transparent !important;
}

.help-block {
	color: cyan !important;
}

.form-group .has-error .control-label {
	color: cyan;
}

.form-group .control-label {
	vertical-align: bottom;
	-webkit-text-size-adjust: 100px;
	color: whitesmoke;
}

h1 {
	color: whitesmoke !important;
}
h2 {
	color: orange !important;
}
.dougOne {
	color: #31b0d5;
}


.links {
	color: cyan;

}
.row {
	margin-left: -15px;
	margin-right: -15px;
}

.createAccount {

	color: cyan;

}

*::before, *::after {
	box-sizing: border-box;
}

*::before, *::after {
	box-sizing: border-box;
}

.crap {
	color: cyan;
}

/*.view-directory .course-listing {*/
	/*background-color: rgba(255, 255, 255, 0.7);*/
/*}*/

/*.course-listing {*/
	/*background-color: #f7f7f7;*/
	/*border: 1px solid #f1f3f0;*/
	/*border-radius: 9px;*/
	/*box-shadow: 0 1px #f1f3f0;*/
	/*cursor: pointer;*/
	/*height: 390px;*/
	/*margin-bottom: 50px;*/
	/*padding: 0;*/
/*}*/

/** {*/
	/*box-sizing: border-box;*/
/*}*/

/*.course-listing .course-box-image-container {*/
	/*max-height: 208px;*/
	/*overflow: hidden;*/
/*}*/

/*.course-listing .course-box-image-container .course-box-image {*/
	/*border-bottom: 1px solid #ededed;*/
	/*border-top-left-radius: 9px;*/
	/*border-top-right-radius: 9px;*/
	/*display: block;*/
	/*margin: auto;*/
	/*width: 100%;*/
/*}*/

img {
	vertical-align: middle;
}

img {
	border: 0 none;
}



.formHeader {
	/*background: orange ;*/
	color: orange;

}
.doug {
	font-size: 32pt;
	font-weight: bold;
}

label {
	font-weight: bold;
	color: orange;
}

.form-control-static {

	/*color:orange;*/
	color: whitesmoke;

}

/*.jumbotron {*/

	/*height: 100px;*/
	/*color: whitesmoke;*/
	/*text-shadow: #ff9933 0 1px 1px;*/
/*}*/









/*.course-listing .course-listing-title {*/
/*color: #6cb44a;*/
/*font-size: 18px;*/
/*font-weight: bold;*/
/*line-height: 25px;*/
/*max-height: 70px;*/
/*overflow: hidden;*/
/*padding: 16px 16px 4px;*/
/*}*/

/*.course-listing .course-listing-subtitle {*/
/*color: #586f6f;*/
/*font-size: 14px;*/
/*font-weight: 200;*/
/*max-height: 65px;*/
/*overflow: hidden;*/
/*padding: 5px 16px;*/
/*}*/

/*.course-listing .course-listing-extra-info .course-price {*/
/*color: #6eae50 !important;*/
/*font-size: 15px;*/
/*font-weight: bold;*/
/*line-height: 34px;*/
/*padding-right: 10px;*/
/*text-align: right;*/
/*}*/

/*.course-listing .course-listing-extra-info .course-author-name {*/
/*font-size: 15px;*/
/*font-weight: 200;*/
/*line-height: 30px;*/
/*max-height: 30px;*/
/*overflow: hidden;*/
/*padding-left: 5px;*/
/*}*/

/*.course-listing .course-listing-extra-info .course-bundle {*/
/*font-size: 15px;*/
/*font-weight: 200;*/
/*line-height: 30px;*/
/*}*/
/*.bookHeadline {*/
/*font-size: 12pt;*/
/*font-weight: bold;*/
/*}*/

/*.bookDescription {*/
/*font-size: 10pt;*/
/*}*/