<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Display Cards</title>
    <link rel="stylesheet" th:href="@{/style.css}"></link>
</head>

<body>

<!--<input type="text" class="form-control" th:field="*{password}"/>-->
<!--<form class="form-horizontal" th:object="${userCommand}" th:action="@{/doUser}" method="post">-->
<div>
    <form th:object="${deckAnswer}" th:action="@{/enterAnswers}" method="post">
        <table><th>Number</th><th>Answer</th><th>Number</th><th>Answer</th>
        <tr><td>1</td><td><input th:type="text" class="form-control" th:field="*{a1}" th:tabindex="1"></input></td><td>21</td><td><input th:type="text" class="form-control" th:field="*{a21}" th:tabindex="21"></input></td><td>41</td><td><input th:type="text" class="form-control" th:field="*{a41}" th:tabindex="41"></input></td></tr>
        <tr><td>2</td><td><input th:type="text" class="form-control" th:field="*{a2}" th:tabindex="2"></input></td><td>22</td><td><input th:type="text" class="form-control" th:field="*{a22}" th:tabindex="22"></input></td><td>42</td><td><input th:type="text" class="form-control" th:field="*{a42}" th:tabindex="42"></input></td></tr>
        <tr><td>3</td><td><input th:type="text" class="form-control" th:field="*{a3}" th:tabindex="3"></input></td><td>23</td><td><input th:type="text" class="form-control" th:field="*{a23}" th:tabindex="23"></input></td><td>43</td><td><input th:type="text" class="form-control" th:field="*{a43}" th:tabindex="43"></input></td></tr>
        <tr><td>4</td><td><input th:type="text" class="form-control" th:field="*{a4}" th:tabindex="4"></input></td><td>24</td><td><input th:type="text" class="form-control" th:field="*{a24}" th:tabindex="24"></input></td><td>44</td><td><input th:type="text" class="form-control" th:field="*{a44}" th:tabindex="44"></input></td></tr>
        <tr><td>5</td><td><input th:type="text" class="form-control" th:field="*{a5}" th:tabindex="5"></input></td><td>25</td><td><input th:type="text" class="form-control" th:field="*{a25}" th:tabindex="25"></input></td><td>45</td><td><input th:type="text" class="form-control" th:field="*{a45}" th:tabindex="45"></input></td></tr>
        <tr><td>6</td><td><input th:type="text" class="form-control" th:field="*{a6}" th:tabindex="6"></input></td><td>25</td><td><input th:type="text" class="form-control" th:field="*{a26}" th:tabindex="26"></input></td><td>46</td><td><input th:type="text" class="form-control" th:field="*{a46}" th:tabindex="46"></input></td></tr>
        <tr><td>7</td><td><input th:type="text" class="form-control" th:field="*{a7}" th:tabindex="7"></input></td><td>27</td><td><input th:type="text" class="form-control" th:field="*{a27}" th:tabindex="27"></input></td><td>47</td><td><input th:type="text" class="form-control" th:field="*{a47}" th:tabindex="47"></input></td></tr>
        <tr><td>8</td><td><input th:type="text" class="form-control" th:field="*{a8}" th:tabindex="8"></input></td><td>28</td><td><input th:type="text" class="form-control" th:field="*{a28}" th:tabindex="28"></input></td><td>48</td><td><input th:type="text" class="form-control" th:field="*{a48}" th:tabindex="48"></input></td></tr>
        <tr><td>9</td><td><input th:type="text" class="form-control" th:field="*{a9}" th:tabindex="9"></input></td><td>29</td><td><input th:type="text" class="form-control" th:field="*{a29}" th:tabindex="29"></input></td><td>49</td><td><input th:type="text" class="form-control" th:field="*{a49}" th:tabindex="49"></input></td></tr>
        <tr><td>10</td><td><input th:type="text" class="form-control" th:field="*{a10}" th:tabindex="10"></input></td><td>30</td><td><input th:type="text" class="form-control" th:field="*{a30}" th:tabindex="30"></input></td><td>50</td><td><input th:type="text" class="form-control" th:field="*{a50}" th:tabindex="50"></input></td></tr>
        <tr><td>11</td><td><input th:type="text" class="form-control" th:field="*{a11}" th:tabindex="11"></input></td><td>31</td><td><input th:type="text" class="form-control" th:field="*{a31}" th:tabindex="31"></input></td><td>51</td><td><input th:type="text" class="form-control" th:field="*{a51}" th:tabindex="51"></input></td></tr>
        <tr><td>12</td><td><input th:type="text" class="form-control" th:field="*{a12}" th:tabindex="12"></input></td><td>32</td><td><input th:type="text" class="form-control" th:field="*{a32}" th:tabindex="32"></input></td><td>52</td><td><input th:type="text" class="form-control" th:field="*{a52}" th:tabindex="52"></input></td></tr>
        <tr><td>13</td><td><input th:type="text" class="form-control" th:field="*{a13}" th:tabindex="13"></input></td><td>33</td><td><input th:type="text" class="form-control" th:field="*{a33}" th:tabindex="33"></input></td></tr>
        <tr><td>14</td><td><input th:type="text" class="form-control" th:field="*{a14}" th:tabindex="14"></input></td><td>34</td><td><input th:type="text" class="form-control" th:field="*{a34}" th:tabindex="34"></input></td></tr>
        <tr><td>15</td><td><input th:type="text" class="form-control" th:field="*{a15}" th:tabindex="15"></input></td><td>35</td><td><input th:type="text" class="form-control" th:field="*{a35}" th:tabindex="35"></input></td></tr>
        <tr><td>16</td><td><input th:type="text" class="form-control" th:field="*{a16}" th:tabindex="16"></input></td><td>36</td><td><input th:type="text" class="form-control" th:field="*{a36}" th:tabindex="36"></input></td></tr>
        <tr><td>17</td><td><input th:type="text" class="form-control" th:field="*{a17}" th:tabindex="17"></input></td><td>37</td><td><input th:type="text" class="form-control" th:field="*{a37}" th:tabindex="37"></input></td></tr>
        <tr><td>18</td><td><input th:type="text" class="form-control" th:field="*{a18}" th:tabindex="18"></input></td><td>38</td><td><input th:type="text" class="form-control" th:field="*{a38}" th:tabindex="38"></input></td></tr>
        <tr><td>19</td><td><input th:type="text" class="form-control" th:field="*{a19}" th:tabindex="19"></input></td><td>39</td><td><input th:type="text" class="form-control" th:field="*{a39}" th:tabindex="39"></input></td></tr>
        <tr><td>20</td><td><input th:type="text" class="form-control" th:field="*{a20}" th:tabindex="20"></input></td><td>40</td><td><input th:type="text" class="form-control" th:field="*{a40}" th:tabindex="40"></input></td></tr>
    </table>
        <div><button type="submit">Go</button></div>
    </form>
</div>























<div><a href="/nextOne" th:class="crap">Get the next one</a></div>
<h2>Your Reading List Doug</h2>
<div th:unless="${#lists.isEmpty(cards)}">
    <dl th:each="card : ${cards}">
        <dt class="bookHeadline">
            <span th:text="${card.counter}">Counter</span>
            <span th:text="${card.id}">Title</span>
            <span th:text="${card.cardName}">CardName</span>
            <!--<div class="col-md-12">-->
            <img src=""
                 th:src="@{'/images/'+${card.cardName}}"
                 class="center-block"/>
            <!--</div>-->
        </dt>
        <!--<dd class="bookDescription">-->
        <!--<span th:if="${book.description}" -->
        <!--th:text="${book.description}">Description</span>-->
        <!--<span th:if="${book.description eq null}">-->
        <!--No description available</span>-->
        <!--</dd>-->
    </dl>
</div>
<div th:if="${#lists.isEmpty(cards)}">
    <p>You have no cards in your deck</p>
</div>



<hr/>

<!--<h3>Add a book</h3>-->
<!--<form method="POST">-->
<!--<label for="title">Title:</label>-->
<!--<input type="text" name="title" size="50"></input><br/>-->
<!--<label for="author">Author:</label>-->
<!--<input type="text" name="author" size="50"></input><br/>-->
<!--<label for="isbn">ISBN:</label>-->
<!--<input type="text" name="isbn" size="15"></input><br/>-->
<!--<label for="description">Description:</label><br/>-->
<!--<textarea name="description" cols="80" rows="5"></textarea><br/>-->
<!--<input type="submit"></input>-->
<!--</form>-->

</body>
</html>