<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Card Randomizer</title>

    <th:block th:include="fragments/headerinc :: head"></th:block>

</head>

<th:block th:include="fragments/header :: header"></th:block>

<body>

<!--# TODO: Figure out pagination-->


<div class="container">
    <h2 th:class="formHeader">Quick Links</h2>

    <ul>
        <li class="links"><a href="/randomLearningDeck" class="links">Learn Cards</a></li>
        <li class="links"><a href="/enterAnswers" class="links">Enter Answers</a></li>
        <li class="links"><a href="/masterList" class="links">View Master List</a></li>
        <li class="links"><a href="/locationMasterList" class="links">Location Master</a></li>


        <li class="links"><a href="user/list" class="links">Users</a></li>
        <li class="links"><a href="secured.html" class="links">Security Status</a></li>
        <li class="links"><a href="/registration" class="links">Registration</a></li>
        <li class="links"><a href="/logout" class="links">Logout</a></li>

    </ul>

</div>

</body>
</html>