<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>

</head>

<th:block th:include="fragments/header :: header"></th:block>
<body>

<div class="container">
    <div class="row">
        <!--<div class="col-md-5 col-md-offset-4">-->
        <h2 th:class="formHeader">Test:</h2>
        <div><h2>Test here:  <span th:text="${cachedCards.size()}">Name</span></h2></div>
        <div>
            <form class="form-horizontal" th:object="${clickForm}" th:action="@{/scoreAnswers}" method="post">
                <div>
                    <table class="table table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Machine</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        <tr th:each="cachedCard : ${cachedCards}">
                            <td th:text="${cachedCard.id}"><a href="/${cachedCard(1).id}">Id</a></td>
                            <td th:text="${cachedCard.cardName}">Name</td>
                            <td><a th:href="${ '/journal/' + cachedCard.id}">View</a></td>
                            <td><a th:href="${'/journal/edit/' + cachedCard.id}">Edit</a></td>
                            <td><a th:href="${'/journal/delete/' + cachedCard.id}">Delete</a></td>
                        </tr>
                    </table>
                        <!--<div><button type="submit">Go</button></div>-->
                    <!--</form>-->
                </div>
            </form>
        </div>
    </div>
</div>
                <!--<div class="dougOne" th:type="hidden">Hey You</div>-->
</body>
</html>