<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>

</head>

<th:block th:include="fragments/header :: header"></th:block>
<body>
<script>
    function DoSomething() {
        //alert("in DoSomething");
        window.location = "/saveCardScore";
    }

</script>
<div class="container">
    <div class="row">
        <!--<div class="col-md-5 col-md-offset-4">-->
        <div> <h1 th:class="formHeader">Scores</h1><h2>Final Score =   <span th:text="${finalScore}">Name</span></h2></div>
        <div><input type="button" onclick="DoSomething()">Go </input>
            <form class="form-horizontal" th:object="${clickForm}" th:action="@{/scoreCardAnswers}" method="post">
                <div>
                    <table class="table table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Master Card</th>
                            <th>Entered Answer</th>
                            <th>Score</th>
                        </tr>
                        <tr th:each="test, testStat : ${scores}">
                            <td th:text="${testStat.index}"><a href="/${test(1).id}">Id</a></td>
                            <td th:text="${test.masterCardName}">Name</td>
                            <td th:text="${test.answerCardName}"><a href="/${cachedCard(1).id}">Id</a></td>
                            <td th:text="${test.correct}">Name</td>
                        </tr>
                    </table>
                    <!--<div><button type="submit">Go</button></div>-->
                    <!--</form>-->
                </div>
            </form>

        </div>
    </div>
</div>
<!--<div class="dougOne" th:type="hidden">Hey You</div>-->
</body>
</html>